.banner{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center ;
    img{width: 60%;}

    @include large-breakpoint{
        img{width: 100%;}
    }
}

.content{
    padding:1rem;   
}
.course{

    &__post{
    width: 100%;
    padding:3rem;
    border: 1px solid black;
    text-align: justify;
    letter-spacing: 0.05rem;
    height: 100%;
    margin-bottom: 10px;
    }

    &__header{
        img{
        width: 100%;}
    }
    &__title, &__instructor{
 
        padding-top:0.6rem;
        padding-bottom: 1rem;
    }


}

.about{
    width: 100%;
    text-align: justify;
    letter-spacing: 0.05rem;

    &__company{
        height: 100%;
        padding:3rem;
        margin-bottom:1rem;
        border: 1px solid black;
    }

    &__avatar{
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            border-radius: 100%;
border:1px solid $black;
        width:70%;}
    }
}
